#malaquitaSVG{
    border: 1px solid #272727;
    margin-left: 40px;
    background-color: rgb(255, 248, 239);
}

.malaquitaContainer{
    display: flex;
}

.controlsContainer{
    box-sizing: border-box;
    width: 270px;
    height: 600px;
    border: solid 1px #000;
    margin-left: 20px;
    padding: 12px;
    background-color: #ddd;
}

.rotateContainer, .tranlateContainer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.tituloSubContainer{
    margin-top: 6px;
    margin-bottom: 12px;
    border-bottom: solid 1px #333;
}

.controlGroupA{
    display: flex;
    margin-top: 6px;
}

.textoA{
    width: 10px;
    height: 4px;

}

.paramslider{
    width: 180px;
    margin-top:4px;
    margin-left: 20px;
    appearance: none;
    display: block;
    height: 6px;
     background: #a0a0a0;
    outline: none;
     opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.paramValue{
    width: 25px;
    height: 12px;
    margin-left: 10px;
}
