.card{
    border: 2px solid #bbb;
  
    border-radius: 14px;
    max-width: 720px;
    margin: auto;
    margin-top: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card_head{
    background-color: #ddd;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    height: 40px;
}
.card_body{
    text-align: center;
    padding: 6px;
}

.caja{
    width: inherit;
    min-height: 40px;
    padding:10px;
    border: 2px solid #b18181;
    border-radius: 14px;
    background-color: #fdf1f1;
    color:#b16464

}